*{
	box-sizing: border-box;
}

body{
	background-image: url('../images/seamless-pattern-computer-circuit-board.jpg')
	/*background-size: 800px 800px;*/
}

.container{
	background-color: rgba(256,256,256, 0.94)
	/*background:black;*/
}

#game-title{
	background: black;
	color: lime;
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 15px;
}

#quiz_area{
	background:black;
	color: lime;
	margin-bottom: 25px;
	padding-bottom: 15px;
	border-left: 3px solid grey;
	border-bottom: 8px solid grey; 
	border-right: 15px solid grey;
	border-top: 15px solid navy;
}


.btn{
	border-radius: 1px;
}

.question{
	padding-top: 10px;
	padding-bottom: 10px;

}

input[type=radio] {
	margin-left: 10px;
	margin-right: 5px;
}

#quiz_area p {
	font-size: 20px;
}

.answers{
	font-size: 16px;
}

#timer{
	background-color: black;
    overflow-x: auto;
    border: 2px solid black;
}


@media only screen and (min-width: 850px){
	#timer{
	position: fixed;
    left: 15px;
    width: 160px;
    height: auto;
	}
}

